<div class="mt-24">
  <body class="body-font">
    <div class="grid grid-cols-1 md:grid-cols-7 grid-rows-none relative">
      <div class="relative col-span-3 xl:h-96 md:h-80 sm:h-52 h-48">
        <div class="absolute inset-x-0 xl:top-28 lg:top-24 md:top-20 sm:top-6 top-3">
          <h1 class="text-center font-udpmincho font-semibold text-blackpanther lg:text-4xl md:text-3xl text-2xl tracking-wide">Muksearch</h1>
          <p class="text-center font-mplus text-blackpanther lg:text-sm text-xs xl:mt-4 lg:mt-2 mt-1">わずか4クリックでモッパン動画が検索できるサービスです</p>
        </div>
        <div class="absolute inset-x-0 xl:top-60 lg:top-52 md:top-44 sm:top-28 top-24">
          <p class="mb-2 lg:text-sm text-xs text-center text-stone500 font-udpmincho underline">LET'S CLICK</p>
          <div class="flex flex-row justify-center">
            <%= link_to onomatopoeias_path do%>
              <button class="lg:h-12 h-10 xl:mx-4 mx-2 lg:w-48 w-36 text-center text-blackpanther font-mplus lg:text-sm text-xs bg-gray-100 hover:bg-yellow-200 rounded">聞きたい音から検索</button>
            <% end %>
            <%= link_to foods_path do%>
              <button class="lg:h-12 h-10 xl:mx-4 mx-2 lg:w-48 w-36 text-center text-blackpanther font-mplus lg:text-sm text-xs bg-gray-100 hover:bg-yellow-200 rounded">見たい食べ物から検索</button>
            <% end %>
          </div>
        </div>
      </div>
      <div class="relative col-span-4 xl:h-96 md:h-80 sm:h-52 h-48">
        <%= image_tag "top_image.png", class: "absolute inset-y-0 right-0 w-auto aspect-auto"%>
      </div>
    </div>
  </body> 
  <div class="xl:mt-28 lg:mt-16 md:mt-10 sm:mt-72 xs:mt-56 mt-44">
    <h2 class="text-center font-udpmincho font-semibold text-blackpanther xl:text-xl lg:text-lg md:text-base text-sm">How to Muksearch</h2>
  </div>
  <div class="mt-6 mb-16">
    <div class="grid grid-cols-1 sm:grid-cols-12 grid-rows-none gap-6 mx-10">
      <div class="bg-gray-100 relative lg:col-span-3 sm:col-span-6 h-72 rounded-lg shadow-lg">
        <h3 class="absolute inset-x-0 top-0 m-2 text-center font-udpmincho font-medium text-blackpanther xl:text-xl lg:text-lg md:text-base text-sm">Step1</h3>
        <%= image_tag "choice_woman.png", class: "h-48 aspect-auto m-auto mt-10"%>
        <div class="absolute inset-x-0 bottom-0 mb-6">
          <p class="text-center font-udpmincho font-medium text-blackpanther">「聞きたい音」or「見たい食べ物」から</p>
          <p class="text-center font-udpmincho font-medium text-blackpanther">検索したい方法を選ぼう</p>
        </div>
      </div>
      <div class="bg-gray-100 relative lg:col-span-3 sm:col-span-6 h-72 rounded-lg shadow-lg">
        <h3 class="absolute inset-x-0 top-0 m-2 text-center font-udpmincho font-medium text-blackpanther xl:text-xl lg:text-lg md:text-base text-sm">Step2</h3>
        <%= image_tag "words.png", class: "h-48 aspect-auto mx-auto mt-10"%>
        <div class="absolute inset-x-0 bottom-0 mb-6">
          <p class="text-center font-udpmincho font-medium text-blackpanther">検索用語一覧から</p>
          <p class="text-center font-udpmincho font-medium text-blackpanther">気になる用語をクリック</p>
        </div>
      </div>
      <div class="bg-gray-100 relative lg:col-span-3 sm:col-span-6 h-72 rounded-lg shadow-lg">
        <h3 class="absolute inset-x-0 top-0 m-2 text-center font-udpmincho font-medium text-blackpanther xl:text-xl lg:text-lg md:text-base text-sm">Step3</h3>
        <%= image_tag "word_choice.png", class: "h-48 aspect-auto mx-auto mt-10"%>
        <div class="absolute inset-x-0 bottom-0 mb-6">
          <p class="text-center font-udpmincho font-medium text-blackpanther">検索言語を日本語or韓国語か選択</p>
        </div>
      </div>
      <div class="bg-gray-100 relative lg:col-span-3 sm:col-span-6 h-72 rounded-lg shadow-lg">
        <h3 class="absolute inset-x-0 top-0 m-2 text-center font-udpmincho font-medium text-blackpanther xl:text-xl lg:text-lg md:text-base text-sm">Step4</h3>
        <%= image_tag "movie_choice.png", class: "h-48 aspect-auto mx-auto mt-10"%>
        <div class="absolute inset-x-0 bottom-0 mb-6">
          <p class="text-center font-udpmincho font-medium text-blackpanther">検索された動画から</p>
          <p class="text-center font-udpmincho font-medium text-blackpanther">気になる動画を視聴しよう</p>
        </div>
      </div>
    </div> 
  </div>
</div>


