<%= form_with(model: [ :admin, onomatopoeia ]) do |f| %>
  <%= render 'shared/error_messages', object: f.object %> 
  <div class="form-group">
    <%= f.label :japanese_notation %>
    <%= f.text_field :japanese_notation, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :korean_notation  %>
    <%= f.text_area :korean_notation , class: 'form-control' %> 
  </div>
  <div class="card-footer">
    <%= f.submit (t 'defaults.register'), class: 'btn btn-primary' %>
  </div>
<% end %>
