<% content_for(:title, @onomatopoeia.japanese_notation) %>
<div class="container">
  <div class="row">
    <div class="col-md-10 offset-md-1 col-lg-8 offset-lg-2">
      <h1><%= t('.title') %></h1>
      <div class="text-right mb-3">
        <%= link_to (t 'defaults.edit'), edit_admin_onomatopoeia_path(@onomatopoeia), class: "btn btn-success" %>
        <%= link_to (t 'defaults.delete'), admin_onomatopoeia_path(@onomatopoeia), class: "btn btn-danger", data: { confirm: t('defaults.message.delete_confirm') }, method: :delete %>
      </div>
      <table class="table table-bordered bg-white">
        <tr>
          <th scope="row"><%=  t('defaults.id') %></th>
          <td><%= @onomatopoeia.id %></td>
        </tr>
        <tr>
          <th scope="row"><%= t('defaults.japanese_notation') %></th>
          <td><%= @onomatopoeia.japanese_notation %></td>
        </tr>
        <tr>
          <th scope="row"><%= t('defaults.korean_notation') %></th>
          <td><%= @onomatopoeia.korean_notation %></td>
        </tr>
        <tr>
          <th scope="row"><%= t('defaults.date')%></th>
          <td><%= l @onomatopoeia.created_at, format: :long %></td>
        </tr>
      </table>
    </div>
  </div>
</div>