<div class="mt-24">
  <section class="mb-16">
    <div class="container mx-auto">
      <div class="text-center mb-8">
        <h1 class="lg:text-3xl text-2xl text-center text-blackpanther font-udpmincho mb-4">見たい食べ物から検索</h1>
        <p class="font-mplus sm:text-base text-sm text-blackpanther">気になる単語で検索してみる</p>
        <%= form_with url: index_path, method: :get, local: true, class: "w-full max-w-sm" do |form| %>
          <div class="flex justify-center border-b border-teal-500 py-2">
            <%= form.text_field :lang, placeholder: "フリーワード検索 例)お餅 or 떡", class: "appearance-none bg-transparent border-none w-full text-gray-700 mr-3 py-1 px-2 leading-tight focus:outline-none"  %>
            <%= form.submit "検索", class: "flex-shrink-0 bg-teal-500 hover:bg-teal-700 border-teal-500 hover:border-teal-700 text-sm border-4 text-white py-1 px-2 rounded" %>
          </div>
        <% end %>
      </div>
    </div>
  </section>

  <section class="mt-20">
    <p class="font-mplus sm:text-base text-sm text-blackpanther">気になる食べ物をクリック</p>
    <p class="mb-2 lg:text-sm text-xs text-center text-stone500 font-udpmincho underline">RANKING</p>
    <h1 class="mb-10 lg:text-3xl text-2xl text-center text-blackpanther font-udpmincho">月間ランキング</h1>
    <div class="container mx-auto">
      <% if @food_lanks.present? %>
        <%= render 'foods/ranking', food_lanks: @food_lanks %>
      <% end %>
    </div>
  </section>
  
  <section class="lg:mt-32 mt-16">
    <p class="mb-2 lg:text-sm text-xs text-center text-stone500 font-udpmincho underline">WORD LIST</p>
    <h1 class="mb-8 lg:text-3xl text-2xl text-center text-blackpanther font-udpmincho">検索ワード一覧</h1>
    <div class="container mx-auto p-5">
      <% if @foods.present? %>
        <div class="grid md:grid-cols-6 lg:grid-cols-8 grid-cols-4 gap-x-2 gap-y-4 content-center">
          <%= render @foods %>
        </div>
      <% end %>
    </div>
  </section>
  <div class="flex justify-center items-center my-10">
    <%= link_to root_path do%>
      <button class="inline-flex items-center h-10 px-5 text-blackpanther font-udpmincho bg-white">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
          <path stroke-linecap="round" stroke-linejoin="round" d="M9 15L3 9m0 0l6-6M3 9h12a6 6 0 010 12h-3" />
        </svg>
        <span> Back Page </span>
      </button>
    <% end %>
  </div>
</div>