<!-- 管理画面へのログイン後の画面のレイアウトファイル -->
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta lang='ja'>
    <meta name="robots" content="noindex, nofollow">
    <title><%= page_title(yield(:title), admin: true) %></title>
    <%= csrf_meta_tags %>
    <!-- ここでadmin.scssを読み込む -->
    <%= stylesheet_link_tag 'admin', media: 'all' %>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
  </head>

  <body class="hold-transition sidebar-mini">
  <div class="wrapper">

    <%= render 'admin/shared/header' %>
    <%= render 'admin/shared/sidebar' %>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
    <%= render 'shared/flash_message' %>
    <%= yield %> <!-- ここてindex.html.erbが読込み？ -->
    </div>
    <!-- /.content-wrapper -->

    <%= render 'admin/shared/footer' %>

  </div>
  <!-- #ここでadmin.jsを読み込む -->
  <%= javascript_pack_tag 'admin' %>
  </body>
</html>