<%= form_with(model: onomatopoeia) do |form| %>
  <% if onomatopoeia.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(onomatopoeia.errors.count, "error") %> prohibited this onomatopoeia from being saved:</h2>

      <ul>
        <% onomatopoeia.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :japanese_notation %>
    <%= form.text_field :japanese_notation %>
  </div>

  <div class="field">
    <%= form.label :korean_notation %>
    <%= form.text_field :korean_notation %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
