<section class="text-gray-600 body-font">
  <div class="container mx-auto">
    <div class="flex items-center lg:w-3/5 mx-auto pb-5 sm:flex-row flex-col">
        <button class="current_nav_icon mx-auto w-40 sm:w-96 h-10 sm:h-16 text-blackpanther bg-calm border-2 border-applecrisp rounded-full hover:bg-applecrisp hover:text-calm shadow-lg" data-modal-link="<%= onomatopoeia.id %>">
          <p class="font-kosugi text-base md:text-xl text-center"><%= onomatopoeia.japanese_notation %></p>
        </button>
    </div>
  </div>
</section>
<div class="relative z-10" aria-labelledby="modal-title" role="dialog" aria-modal="true">
  <div class="current_action_nav hidden fixed z-10 inset-0 overflow-y-auto" data-modal-content="<%= onomatopoeia.id %>">
    <div class="fixed inset-0 bg-calm bg-opacity-75 transition-opacity"></div>
    <div class="flex items-center sm:items-center justify-center min-h-full p-4 sm:p-0">
      <div class="relative bg-white rounded-lg overflow-hidden shadow-xl transform transition-all sm:my-8 sm:max-w-lg sm:w-full">
        <div class="flex justify-center bg-white px-4 pt-5 pb-4 sm:p-6 sm:pb-4 rounded-lg">
          <div class="flex flex-col">
            <div class="text-center text-base text-blackpanther pb-2 border-dotted border-b border-blackpanther">
              <p>検索したい言語を選択</p>
            </div>
            <div class="mt-3 text-center sm:mt-0 sm:ml-4 sm:text-left">
              <%= button_to "日本語（#{onomatopoeia.japanese_notation}）で探す", {controller: 'searches', action: 'index'}, {method: :get, class: "rounded-full text-center mt-4 mb-2 w-64 bg-white hover:bg-blackpanther text-blackpanther hover:text-calm font-kosugi font-semibold py-2 px-4 border border-applecrisp rounded", params: {japanese_notation: onomatopoeia.japanese_notation}} %>
              <%= button_to "韓国語（#{onomatopoeia.korean_notation}）で探す", {controller: 'searches', action: 'index'}, {method: :get, class: "rounded-full text-center my-2 w-64 bg-white hover:bg-blackpanther text-blackpanther hover:text-calm font-kosugi font-semibold py-2 px-4 border border-applecrisp rounded", params: {korean_notation: onomatopoeia.korean_notation}} %>
            </div>
          </div>
        </div>
        <div class="px-4 py-3 sm:px-6 sm:flex sm:flex-row-reverse rounded-lg">
          <button class="close-menu mt-3 w-full inline-flex justify-center rounded-md border border-applecrisp shadow-sm px-4 py-2 bg-white font-zenmaru text-base font-medium text-blackpanther hover:bg-blackpanther hover:text-calm focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-darkbluegray sm:mt-0 sm:ml-3 sm:w-auto sm:text-sm">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>
