<div class="mt-24">
  <section class="mb-16">
    <div class="container mx-auto">
      <div class="text-center mb-8">
        <h1 class="lg:text-3xl text-2xl text-center text-blackpanther font-udpmincho mb-4">聴きたい音から検索</h1>
        <p class="font-mplus sm:text-base text-sm text-blackpanther">気になる単語で検索してみる</p>
      </div>
      <form class="mx-auto sm:max-w-md max-w-sm">
        <%= form_with url: index_path, method: :get, local: true do |form| %>
          <div class="flex justify-center border-b border-teal-500 py-2">
            <%= form.text_field :lang, placeholder: "フリーワード検索 例)プヨプヨ or 흐물흐물", class: "appearance-none bg-transparent border-none w-full font-mplus sm:text-base text-sm text-gray-700 mr-3 py-1 px-2 leading-tight focus:outline-none"  %>
            <%= form.submit "検索", class: "flex-shrink-0 text-white bg-yellow-200 hover:bg-yellow-400 focus:outline-none focus:ring-4 focus:ring-yellow-300 font-medium rounded-full sm:text-sm text-xs px-5 py-2.5 text-center mr-2 mb-2 dark:focus:ring-yellow-900" %>
          </div>
        <% end %>
      </form>
    </div>
  </section>

  <section class="mt-20">
    <p class="font-mplus sm:text-base text-center text-sm text-blackpanther">気になるオノマトペ(擬音語)をクリック</p>
    <p class="mb-2 lg:text-sm text-xs text-center text-stone500 font-udpmincho underline">RANKING</p>
    <h1 class="mb-10 lg:text-3xl text-2xl text-center text-blackpanther font-udpmincho">月間ランキング</h1>
    <div class="container mx-auto">
      <% if @onomatopoeia_lanks.present? %>
        <%= render 'onomatopoeias/ranking', onomatopoeia_lanks: @onomatopoeia_lanks %>
      <% end %>
    </div>
  </section>
  
  <section class="lg:mt-32 mt-20">
    <p class="mb-2 lg:text-sm text-xs text-center text-stone500 font-udpmincho underline">WORD LIST</p>
    <h1 class="mb-8 lg:text-3xl text-2xl text-center text-blackpanther font-udpmincho">検索ワード一覧</h1>
    <div class="container mx-auto p-5">
      <% if @onomatopoeias.present? %>
        <div class="grid md:grid-cols-6 lg:grid-cols-8 grid-cols-4 gap-x-2 gap-y-4 content-center">
          <%= render @onomatopoeias %>
        </div>
      <% end %>
    </div>
  </section>

  <section class="lg:mt-32 mt-20">
    <p class="mb-2 lg:text-sm text-xs text-center text-stone500 font-udpmincho underline">WORD LIST FOR EVERYONE</p>
    <h1 class="mb-8 lg:text-3xl text-2xl text-center text-blackpanther font-udpmincho">みんなが登録した検索ワード</h1>
    <div class="container mx-auto p-5">
      <% if @user_onomatopoeias.present? %>
        <div class="grid md:grid-cols-6 lg:grid-cols-8 grid-cols-4 gap-x-2 gap-y-4 content-center">
          <%= render @user_onomatopoeias %>
        </div>
      <% else %>
        <div class="text-center mb-8">
          <% if logged_in? %>
            <p class="font-mplus sm:text-base text-sm text-blackpanther">現在登録ワードがありません</p>
            <p class="font-mplus sm:text-base text-sm text-blackpanther">フォームから登録しませんか</p>
            <%= image_tag "word_new.png", class: "h-48 aspect-auto mx-auto mt-2" %>
          <% else %>
            <p class="font-mplus sm:text-base text-sm text-blackpanther">現在登録ワードがありません</p>
            <p class="font-mplus sm:text-base text-sm text-blackpanther">会員登録後フォームから登録しませんか</p>
            <%= image_tag "word_new.png", class: "h-48 aspect-auto mx-auto mt-2" %>
          <% end %>
        </div>
      <% end %>
    </div>
  </section>

  <section class="mt-20">
    <p class="my-4 lg:text-sm text-xs text-center text-stone500 font-udpmincho underline">FORM</p>
    <h1 class="mb-8 lg:text-3xl text-2xl text-center text-blackpanther font-udpmincho">任意ワード登録フォーム</h1>
    <div class="container mx-auto p-5">
      <div class="text-center mb-8">
        <% if logged_in? %>
          <p class="mb-4 font-mplus sm:text-base text-sm text-blackpanther">お好みの検索ワードを登録してみよう</p>
          <%= render 'form', { onomatopoeia: @onomatopoeia } %>
        <% else %>
          <p class="font-mplus sm:text-base text-sm text-blackpanther">任意ワード登録は会員限定</p>
          <%= image_tag "user_new.png", class: "h-48 aspect-auto mx-auto mt-2" %>
          <%# リンクの色変える ほばーとか %>
          <%= link_to "ユーザー登録はこちら", new_user_path, class: "font-mplus sm:text-base text-sm text-blackpanther px-6 py-2 text-base font-medium leading-6 whitespace-no-wrap border-2 border-transparent rounded-full shadow-sm bg-yellow-200 hover:bg-yellow-400 hover:text-white hover:border-white focus:outline-none" %>
        <% end %>
      </div>
    </div>
  </section>

  <div class="flex justify-center items-center my-10">
    <%= link_to root_path do%>
      <button class="inline-flex items-center h-10 px-5 text-blackpanther font-udpmincho bg-white">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
          <path stroke-linecap="round" stroke-linejoin="round" d="M9 15L3 9m0 0l6-6M3 9h12a6 6 0 010 12h-3" />
        </svg>
        <span> Back Page </span>
      </button>
    <% end %>
  </div>
</div>