<p id="notice"><%= notice %></p>

<p>
  <strong>Japanese notation:</strong>
  <%= @onomatopoeia.japanese_notation %>
</p>

<p>
  <strong>Korean notation:</strong>
  <%= @onomatopoeia.korean_notation %>
</p>

<%= link_to 'Edit', edit_onomatopoeia_path(@onomatopoeia) %> |
<%= link_to 'Back', onomatopoeias_path %>
