<div class="mt-24">
  <div class="min-h-screen flex flex-col">
    <div class="container max-w-sm mx-auto flex-1 flex flex-col items-center justify-center px-2">
      <div class="bg-gray-50 px-6 py-8 rounded shadow-md text-blackpanther w-full">
        <h1 class="mb-8 xs:text-3xl text-xl font-mplus text-center">Login</h1>
        <%= form_with url: login_path, local: true, class: "w-full max-w-sm" do |f| %>
          <%= f.email_field :email, class: "block border border-grey-light w-full p-3 rounded mb-4", placeholder: "メールアドレス" %>
          <%= f.password_field :password, class: 'block border border-grey-light w-full p-3 rounded mb-4',placeholder: "パスワード" %>

          <div class="flex items-center justify-between">
            <%= f.submit (t 'defaults.login'), class:"bg-yellow-200 hover:bg-yellow-300 text-blackpanther font-mplus text-sm sm:text-base py-2 px-4 rounded focus:outline-none focus:shadow-outline" %>
          </div>
          <div class="text-blackpanther font-mplus mt-6">
              登録がまだの方
              <%= link_to new_user_path, class: "no-underline border-b border-blue text-blue" do %>
                新規登録
              <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>