<aside class="main-sidebar sidebar-dark-primary elevation-4">
  <a href="#" class="brand-link">
    <%= image_tag 'AdminLTELogo.png', class: 'brand-image img-circle elevation-3' %>
    <span class="brand-text font-weight-light">管理画面</span>
  </a>

  <div class="sidebar">

    <nav class="mt-2">
      <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <li class="nav-item has-treeview menu-open">
          <a href="#" class="nav-link active">
            <i class="nav-icon far fa-file"></i>
            <p>
              <%= t '.onomatopoeia' %>
              <i class="right fas fa-angle-left"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <%= link_to new_admin_onomatopoeia_path, class:"nav-link" do %>
                <i class="far fa-circle nav-icon"></i>
                <%= t '.onomatopoeia_new' %>
              <% end %>
            </li>
            <li class="nav-item">
              <%= link_to admin_onomatopoeias_path, class:"nav-link" do %>
                <i class="far fa-circle nav-icon"></i>
                <p><%= t '.onomatopoeia_index' %></p>
              <% end %>
            </li>   
          </ul>
        </li> 
        <li class="nav-item has-treeview menu-open">
          <a href="#" class="nav-link active">
            <p>
              <%= t '.food' %>
              <i class="right fas fa-angle-left"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <%= link_to new_admin_food_path, class:"nav-link" do %>
                <i class="far fa-circle nav-icon"></i>
                <p><%= t '.food_new' %></p>
              <% end %>
            </li>
            <li class="nav-item">
              <%= link_to admin_foods_path, class:"nav-link" do %>
                <i class="far fa-circle nav-icon"></i>
                <p><%= t '.food_index' %></p>
              <% end %>
            </li>   
          </ul>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <%= link_to new_admin_category_path, class:"nav-link" do %>
                <i class="far fa-circle nav-icon"></i>
                <p><%= t '.category_new' %></p>
              <% end %>
            </li>
            <li class="nav-item">
              <%= link_to admin_categories_path, class:"nav-link" do %>
                <i class="far fa-circle nav-icon"></i>
                <p><%= t '.category_index' %></p>
              <% end %>
            </li>   
          </ul>
        </li>
      </ul>
    </nav>
  </div>
</aside>
