<!-- サイドバー -->
<aside class="main-sidebar sidebar-dark-primary elevation-4">
  <!-- サイトロゴ -->
  <a href="index3.html" class="brand-link">
    <%= image_tag 'AdminLTELogo.png', class: 'brand-image img-circle elevation-3' %>
    <span class="brand-text font-weight-light">管理画面</span>
  </a>

  <!-- Sidebar -->
  <div class="sidebar">

    <!-- Sidebar Menu -->
    <nav class="mt-2">
      <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <li class="nav-item has-treeview menu-open">
          <a href="#" class="nav-link active">
            <i class="nav-icon far fa-file"></i>
            <p>
              オノマトペ
              <i class="right fas fa-angle-left"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <%= link_to new_admin_onomatopoeia_path, class:"nav-link" do %>
                <i class="far fa-circle nav-icon"></i>
                <p>オノマトペ登録</p>
              <% end %>
            </li>
            <li class="nav-item">
              <%= link_to admin_onomatopoeias_path, class:"nav-link" do %>
                <i class="far fa-circle nav-icon"></i>
                <p>オノマトペ一覧</p>
              <% end %>
            </li>   
          </ul>
        </li> 
        <li class="nav-item has-treeview menu-open">
          <a href="#" class="nav-link active">
            <p>
              食べ物
              <i class="right fas fa-angle-left"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <%= link_to "#", class:"nav-link" do %>
                <i class="far fa-circle nav-icon"></i>
                <p>食べ物登録</p>
              <% end %>
            </li>
            <li class="nav-item">
              <%= link_to "#", class:"nav-link" do %>
                <i class="far fa-circle nav-icon"></i>
                <p>食べ物一覧</p>
              <% end %>
            </li>   
          </ul>
        </li>
      </ul>
    </nav>
    <!-- /.sidebar-menu -->
  </div>
  <!-- /.sidebar -->
</aside>
