<!DOCTYPE html>
<html>
  <head>
    <% if Rails.env.production? %>
      <%= render 'layouts/google_analytics' %>
    <% end %>
    
    <%= favicon_link_tag('favicon.ico') %>
    <title>Muksearch</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="https://rsms.me/inter/inter.css">

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  
    <%= display_meta_tags(default_meta_tags) %>
  </head>

  <header>
    <% if logged_in? %>
      <%= render 'shared/header' %>
    <% else %>
      <%= render 'shared/before_login_header' %> 
    <% end %>  
  </header>

  <body class="bg-white">
    <%= render 'shared/flash_message' %>
    <%= yield %>
  </body>

  <footer>
    <%= render 'shared/footer' %>
  </footer>
</html>
